.news {
  display: flex;
  flex-wrap: wrap;
}

.featured {
  flex: 1 0 100%;
}

.column {
  flex: 0 0 percentage(1/3);

  &:not(:last-of-type) {
    padding-right: 24px;
  }
}

.pagination {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}
