.news {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.featured,
.column {
  padding: 0 12px;
}

.featured {
  flex: 1 0 100%;
  margin-bottom: 40px;
}

.column {
  flex: 0 0 percentage(1/3);
  margin-bottom: 24px;
}

.pagination {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}
