@import '../../scss/variables';
@import '../../scss/mixins';

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid $border-color;
  height: 100%;
}

.featured {
  flex-direction: row-reverse;
  height: auto;

  .title {
    margin-bottom: 0;
    font-size: 24px;
  }

  .body {
    justify-content: space-between;
    padding: 79px 24px 24px 24px;
    flex: 0 0 50%;
  }

  .content {
    font-size: 18px;
    line-height: 30px;
    flex-grow: 0;
    margin-bottom: 0;
  }

  .thumbnail {
    flex: 0 0 50%;
    height: 411px;
  }
}

.thumbnail {
  position: relative;
  height: 264px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  @include heading;
  margin-top: 0;
  margin-bottom: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 16px 16px;
}

.content {
  @include font;
  flex: 1 0 auto;
  margin-top: 0;
  margin-bottom: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: $base-color;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.author-meta {
  padding-right: 15px;
  flex: 1 0 0;
  max-width: 100%;
}

.read-more {
  @include font(14px, $fw: 500);
  margin-top: auto;
  color: $primary;
  text-decoration: none;
}

.author {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.author,
.date {
  @include font(14px, $fw: 600);
  color: $dark-gray;
}
