@import "../../scss/variables";

.header {
  border: 1px solid $border-color;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 0;
}

.menu {
  margin-left: 62px;
}

.buttons {
  margin-left: auto;
}

.log-in {
  margin-right: 24px;
}
