@import "../../scss/variables";

.header {
  border: 1px solid $border-color;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 0;
}

.menu {
  margin-left: 62px;
}

.buttons {
  margin-left: 20px;
  flex: 1 0 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto min-content min-content;
  column-gap: 24px;
}

.search button{
  color: $primary;
}

